$color-body: #0E1512;

$border-header: #104D87;
$border-footer: #104D87;

$color-text-lien: #C2E6FF;

$background-skill: linear-gradient(353deg, rgba(13, 40, 71, 1) 45%, rgba(0, 64, 116, 1) 53%, rgba(0, 51, 98, 1) 54%);
$background-card: radial-gradient(circle, rgba(17, 59, 41, 1) 40%, rgba(23, 73, 51, 1) 43%, rgba(19, 45, 33, 1) 48%);

// variable pour l'animation du texte
$animation-duration: 0.3s;
$animation-delay: 0.2s;